.container {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  background: var(--background-light);
  padding: 2rem;
}
@media screen and (max-width: 700px) {
  section {
    padding: 1.5rem;
  }
}

section .section-header {
  margin: 1rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
section .section-header .view-all {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.085em;
  color: #27BBA0;
  text-decoration: none;
}
section h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #FFF;
}
section.dark {
  background: var(--background-dark);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  grid-gap: 2rem;
}
.grid > div {
  color: #000;
  background: #FFF;
  /*padding: 1.5rem;*/
  border-radius: 7px;
  min-height: 150px;
}
