:root {
  /**
   * Layout.
   */
  --gutter: 1rem;

  /**
   * Colors.
   */
  --background: #fff;
  --text: #3D3B3F;
  --logo: #5F6368;
  --icon: #858287;
  --footer-text: #858287;
  --accent-background: #ECEFFF;
  --accent: #3740FF;
  --accent-text: #000;
  --separator: #E6E4E7;
  --tooltip: #fff;
  --tooltip-background: #1E1E20;
  --alarm: #FF375C;
  --alert: #FFA24C;
  --toggle-background-off: #BFBEC1;
  --toggle-background-on: #3740FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141216;
    --text: #BFBEC1;
    --logo: #E5E4E7;
    --icon: #F7F7F8;
    --footer-text: #858287;
    --accent-background: #12292B;
    --accent: #00C9DB;
    --accent-text: #fff;
    --separator: #3D3B3F;
    --tooltip: #1E1E20;
    --tooltip-background: #fff;
    --toggle-background-off: #3D3B3F;
    --toggle-background-on: #00C9DB;
  }
}


@media (min-width: 720px) {
  :root {
    --gutter: 1.5rem;
  }
}

/**
 * Remove animations when the user indicates the preference.
 *
 * Also on slow updating devices.
 */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0ms !important;
  }
}

/* General */
body {
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  line-height: 24px;
  margin: 0;
  padding: 0;
  width: 100%;
}
body.disable-scroll {
  overflow: hidden;
}
a {
  color: var(--accent-text);
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
*:focus {
  border: none;
  outline-style: dotted;
  outline-color: var(--accent);
}
h1,
h2,
h3,
h4 {
  color: var(--accent-text);
}
h1,
.h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -0.02em;
}
h2,
.h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.03em;
}
h3,
.h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.02em;
}
h4,
.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

/* Container */
.container {
  display: grid;
  max-width: calc(1200px + var(--gutter) * 2);
  padding: 0 var(--gutter);
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.container--no-padding {
  padding: 0;
}

/* Offline Banner */
#offline-banner {
  position: fixed;
  opacity: 0;
  display: none;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  font: normal 0.8em sans-serif;
  padding: 0.5em 1em;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
  background: #fa4659;
  text-transform: uppercase;
  transition: opacity 200ms ease-in-out;
  white-space: pre;
}
[data-connection="offline"] #offline-banner {
  display: inline-block;
  opacity: 1;
}
#offline-banner.alert {
  animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
}

/* Site Header */
.site-header {
  background-color: var(--background);
  display: flex;
  align-items: flex-start;
  justify-items: center;
  height: 48px;
  overflow: hidden;
  padding: var(--gutter) 0;
  width: 100%;
  max-width: calc(1200px + var(--gutter) * 2);
  margin: 0 auto;
  font-size: 18px;
  z-index: 99;
}
.site-header .container {
  padding: 0;
  z-index: 1;
}
.site-header--logo-link {
  display: inline-block;
  margin-left: var(--gutter);
  max-width: 100px;
  line-height: 0;
}
.site-header--menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: calc(100vh - calc(var(--gutter) * 2 + 48px));
  width: 100%;
  overflow: scroll;
  list-style: none;
  margin: calc(var(--gutter) * 2 + 48px) 0 0 0;
  padding: 0;
  background-color: var(--background);
  transform: translateX(100vw);
  transition: transform 70ms ease-in-out;
}
.site-header.open .site-header--menu {
  transform: translateX(0);
}
.site-header--menu-item .site-header--menu-link {
  color: var(--accent-text);
  display: block;
  line-height: 1.5;
  text-decoration: none;
  padding: calc(var(--gutter) * 1.5) var(--gutter);
}
.site-header--menu-item .site-header--menu-link.active,
.site-header--menu-item .site-header--menu-link:active,
.site-header--menu-item .site-header--menu-link:hover {
  background-color: var(--accent-background);
  color: var(--accent);
}
.site-header--menu-item .site-header--menu-link svg {
  stroke: var(--icon);
}
.site-header--menu-item .site-header--menu-link.active svg,
.site-header--menu-item .site-header--menu-link:active svg,
.site-header--menu-item .site-header--menu-link:hover svg {
  stroke: var(--accent);
}
.site-header--menu-item .site-header--menu-link {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-auto-flow: column;
}
.site-header--menu-item .site-header--menu-link > svg {
  justify-items: start;
  grid-column: 2;
}
.site-header--menu-item .site-header--menu-link > span {
  justify-items: end;
  grid-column: 1;
}
.site-header--hamburger-btn {
  background-color: transparent;
  border: none;
  color: var(--accent-text);
  cursor: pointer;
  display: grid;
  grid-template-columns: 24px 1fr;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  right: var(--gutter);
  top: calc(var(--gutter) * 1.5);
  z-index: 999;
}
.site-header--hamburger-btn:hover {
  cursor: pointer;
}
.site-header--hamburger-btn__open {
  display: block;
}
.site-header--hamburger-btn__close {
  display: none;
}
.open .site-header--hamburger-btn__open {
  display: none;
}
.open .site-header--hamburger-btn__close {
  display: block;
}
.site-header--hamburger-btn span {
  display: none;
  margin-left: calc(var(--gutter) / 2);
  padding-right: 2px;
}
.open .site-header--hamburger-btn span {
  display: none;
}
.open .site-header--hamburger-btn:after {
  display: none;
  content: 'Close';
  margin-left: calc(var(--gutter) / 2);
  padding-right: 2px;
}

/* Site Header: Breakpoints */
@media (min-width: 720px) {
  .site-header {
    font-size: 24px;
    line-height: 32px;
  }
  .site-header--hamburger-btn span,
  .open .site-header--hamburger-btn:after {
    display: block;
  }
}
@media (min-width: 960px) {
  .site-header {
    font-size: 16px;
    line-height: 24px;
  }
  .site-header.open {
    height: auto;
  }
  .site-header .container {
    justify-items: end;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    padding: 0 var(--gutter);
  }
  .site-header--logo-link {
    margin-left: 0;
  }
  .site-header--menu {
    display: block;
    position: static;
    height: auto;
    width: auto;
    margin: 0;
    transform: none;
    overflow: auto;
  }
  .site-header--menu-item {
    display: inline-block;
    text-align: right;
  }
  .site-header--menu-item .site-header--menu-link {
    margin: 0 0 0 calc(var(--gutter) * 1.5);
    padding: calc(var(--gutter) / 3) 0;
  }
  .site-header--menu-item .site-header--menu-link.active,
  .site-header--menu-item .site-header--menu-link:active,
  .site-header--menu-item .site-header--menu-link:hover {
    background-color: transparent;
    color: var(--accent-text);
    text-decoration: underline;
  }
  .site-header--menu-item .site-header--menu-link {
    grid-template-columns: 36px 1fr;
  }
  .site-header--menu-item .site-header--menu-link > svg {
    grid-column: 1;
  }
  .site-header--menu-item .site-header--menu-link > span {
    grid-column: 2;
  }
  .site-header--hamburger-btn {
    display: none;
  }
}

/* Site Footer */
.site-footer {
  display: block;
  width: 100%;
  max-width: calc(1200px + var(--gutter) * 2);
  margin: 0 auto;
  border-top: 1px solid var(--separator);
}
.site-footer .site-footer--content {
  color: var(--footer-text);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  text-align: center;
  padding: var(--gutter) 0;
}
.site-footer .site-footer--content a {
  color: var(--accent-text);
  text-decoration: none;
}
.site-footer .site-footer--content a:hover {
  text-decoration: underline;
}
.site-footer .site-footer--content__credits {
  grid-row: 2;
}
.site-footer .site-footer--content__credits span {
  display: block;
  margin-bottom: calc(var(--gutter) / 2);
}
.site-footer .site-footer--content__gh-source {
  font-size: 18px;
  line-height: 26px;
  grid-row: 1;
}
.site-footer .site-footer--content__gh-source svg {
  display: inline-block;
  position: relative;
  top: 6px;
  margin-right: calc(var(--gutter) / 2);
}
.site-footer .site-footer--content__gh-source a {
  display: inline-block;
}

/* Site Footer: Breakpoints */
@media (min-width: 720px) {
  .site-footer {
    border-top: none;
  }
  .site-footer .site-footer--content {
    border-top: 1px solid var(--separator);
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    text-align: left;
  }
  .site-footer .site-footer--content__credits {
    padding-top: 8px;
    grid-row: initial;
  }
  .site-footer .site-footer--content__credits span {
    display: inline-block;
    margin-bottom: 0;
  }
  .site-footer .site-footer--content__credits span:first-child {
    margin-right: var(--gutter);
  }
  .site-footer .site-footer--content__gh-source {
    grid-row: initial;
    text-align: right;
  }
}

/* Main */
main {
  max-width: calc(1200px + var(--gutter) * 2);
  margin: 0 auto;
}

/* Home Header */
.page-header {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 3rem;
}

/* Home Header: Breakpoints */
@media (min-width: 720px) {
  .page-header {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 3.5rem;
    width: 75%;
  }
}
@media (min-width: 960px) {
  .page-header {
    margin-bottom: 4rem;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 57.5%;
  }
}

.video-container {
  border-radius: 8px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.video-container--image {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}
.video-container--image picture img,
.video-container--image > img {
  width: 100%;
  height: auto;
}
.video-container .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  z-index: 2;
}
.video-container .play {
  background: transparent;
  border-radius: 50%;
  width: 112px;
  height: 112px;
  padding: 0;
  border: none;
  cursor: pointer;
}
.video-container .video-container--player {
  display: none;
  height: 720px;
}
.video-container.has-player .video-container--image {
  display: none;
}
.video-container.has-player .video-container--player {
  display: block;
  height: auto;
}

/*
!* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*!
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
!* HTML5 display-role reset for older browsers *!
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

!**
 * Animations.
 *!
@keyframes shake {
  10%, 90% {
    transform: translateX(-50.5%);
  }

  20%, 80% {
    transform: translateX(-49%);
  }

  30%, 50%, 70% {
    transform: translateX(-48%);
  }

  40%, 60% {
    transform: translateX(-52%);
  }
}

!* App Styles *!
html, body {
  margin: 0;
  background: #f4f4f4;
  color: #fff;
  background: var(--background-dark);
}
body {
  font-family: 'Poppins', sans-serif;
}
.vertical-bottom {
  vertical-align: text-bottom;
}
.center-text {
  text-align: center;
}
.tip {
  padding: 2rem;
}

h3 {
  background: #039be5;
}

:root {
  --background-dark: #12283C;
  --background-light: #304B63;
  --text-dark: #667F96;
  --text-light: #FFFFFF;
  --text-gray: #B9B9B9;
  --text-footer: #97ADC0;
  --accent: #24CCAE;
}
video-card p {
  background: var(--background-dark);
}

header {
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
.poster-wrapper {
  background: var(--background-dark);
  height: auto;
  padding-top: 118px;
  position: relative;
}
.poster-wrapper .info {
  padding: 2rem 0;
}
.poster-wrapper .has-player .info {
  display: none;
}
.poster-wrapper .info h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #FFF;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.poster-wrapper .info p {
  color: #d1d1d1;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
@media screen and (max-width: 700px) {
  .poster-wrapper .info {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  .poster-wrapper .info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
header h1 {
  font-size: 2rem;
}
header h1 a {
  color: #FFF;
  text-decoration: none;
}
header .menu {
  display: flex;
  align-items: center;
}
header .menu > * {
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
}
header .menu span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #12283C;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
header .menu offline-toggle-button {
  padding-right: 1rem;
}
header .container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hamburger, header .close {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  body.mobile {
    overflow: hidden;
  }
  body.mobile header .container {
    background: var(--background-dark);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  body.mobile header .container .menu {
    flex-basis: 100%;
    margin-top: -50%;
  }
  header .hamburger {
    display: block;
  }
  body.mobile header .hamburger {
    display: none;
  }
  body.mobile header .close {
    display: block;
  }
  header .menu {
    display: none;
  }
  body.mobile header .menu {
    display: flex;
    flex-direction: column;

  }
  body.mobile .menu > * {
    margin: 0 0 2rem 0;
  }
}

article {
  background: #FFF;
  padding: 4rem 0;
}
article h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #12283C;
}
article .info {
  margin-bottom: 1.5rem;
  font-size: 0.85rem;
}
article .info .date {
  color: #304B63;
}
article .info .length {
  color: #6F889F;
  margin-left: 1rem;
}
button.primary {
  border: 1px solid var(--accent);
  color: var(--accent);
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.085em;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
}
button[disabled] {
  opacity: 0.3;
  filter: grayscale(1);
}
button.icon-download {
  padding: 0.5rem 1rem 0.5rem 3rem;
  background: url('/images/download.svg') transparent no-repeat 1rem center;
}
article p {
  color: var(--text-dark);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.container {
  max-width: calc(1200px + 4rem);
  margin: 0 auto;
  padding: 0 2rem;
}

div.card {
  overflow: hidden;
}
.card .poster {
  background-image: url("https://storage.googleapis.com/biograf-video-files/videos/ttt-ep-2/poster.jpg");
  background-size: cover;
  height: 0;
  padding-top: 56.25%;
}
.card .info {
  padding: 1rem;
}
.card .info .title-icon {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.card .info .title-icon .icon {
  margin-top: 2px;
  margin-left: 10px;
}
.card .info .title {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: bold;
  color: #12283C;
}
.card .info .desc {
  font-size: 1rem;
  line-height: 1.5;
  color: #667F96;
}

footer {
  background: var(--background-dark);
  color: var(--text-footer);
  padding: 2rem 0;
  font-size: 1rem;
}
footer a {
  color: var(--text-footer);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer p span {
  margin: 0 0.5rem;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
!*footer p span {*!
!*  display: none;*!
!*}*!
@media screen and (max-width: 770px) {
  footer .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  footer p:first-child {
    margin-top: 2rem;
  }
  footer p {
    text-align: center;
  }
  footer p span {
    display: block;
    visibility: hidden;
  }
}

.menu-spacer {
  height: 118px;
  background: var(--background-dark);
}

.page-title {
  background: var(--background-light);
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  padding: calc(118px + 80px) 0 30px 0;
}
.page-title img {
  margin-top: 30px;
}
.settings {
  min-height: 400px;
  max-width: calc(1200px - 20%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
}
.settings .option {
  display: flex;
  margin-bottom: 2rem;
}
.settings .option > div {
  margin: 8px 0 0 1rem;
}
.settings .option h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 1rem;
}
.settings .option p {
  color: #97ADC0;
  line-height: 1.5rem;
}
.downloads {
  min-height: 400px;
  padding: 3rem 2rem;
}
.downloads .header span {
  color: #FFF;
}
.downloads .header span span {
  opacity: 0.45;
}
.downloads .header {
  display: flex;
  justify-content: space-between;
}
*/
